## custom configuration file based on https://github.com/just-containers/mariadb/blob/master/rootfs/etc/mysql/my.cnf
## please be aware that changing options here may break things
#
# The MySQL database server configuration file.
#
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

# This will be passed to all mysql clients
# It has been reported that passwords should be enclosed with ticks/quotes
# especially if they contain "#" chars...
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock

default-character-set = {{ getenv "MARIADB_CLIENT_DEFAULT_CHARACTER_SET" "utf8mb4" }}

# Here is entries for some specific programs
# The following values assume you have at least 32M ram

# This was formally known as [safe_mysqld]. Both versions are currently parsed.
[mysqld_safe]
socket          = /var/run/mysqld/mysqld.sock
nice            = {{ getenv "MARIADB_MYSQLD_SAFE_NICE" "0" }}

[mysqld]
#
# * Basic Settings
#
user            = abc
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
port            = 3306
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
lc_messages_dir = /usr/share/mariadb
lc_messages     = en_US
skip-external-locking
#
# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
#bind-address           = 127.0.0.1
#
# * Fine Tuning
#
key_buffer_size         = {{ getenv "MARIADB_KEY_BUFFER_SIZE" "128M" }}
max_connections         = {{ getenv "MARIADB_MAX_CONNECTIONS" "100" }}
connect_timeout         = {{ getenv "MARIADB_CONNECT_TIMEOUT" "5" }}
wait_timeout            = {{ getenv "MARIADB_WAIT_TIMEOUT" "600" }}
max_allowed_packet      = {{ getenv "MARIADB_MAX_ALLOWED_PACKET" "16M" }}
thread_cache_size       = {{ getenv "MARIADB_THREAD_CACHE_SIZE" "128" }}
thread_stack            = {{ getenv "MARIADB_THREAD_STACK" "192K" }}
sort_buffer_size        = {{ getenv "MARIADB_SORT_BUFFER_SIZE" "4M" }}
bulk_insert_buffer_size = {{ getenv "MARIADB_BULK_INSERT_BUFFER_SIZE" "16M" }}
tmp_table_size          = {{ getenv "MARIADB_TMP_TABLE_SIZE" "32M" }}
max_heap_table_size     = {{ getenv "MARIADB_MAX_HEAP_TABLE_SIZE" "32M" }}


#performance_schema = on
character_set_server    = {{ getenv "MARIADB_CHARACTER_SET_SERVER" "utf8mb4" }}
transaction_isolation   = {{ getenv "MARIADB_TRANSACTION_ISOLATION" "READ-COMMITTED" }}
binlog_format           = {{ getenv "MARIADB_BINLOG_FORMAT" "MIXED" }}

#
# * MyISAM
#
# This replaces the startup script and checks MyISAM tables if needed
# the first time they are touched. On error, make copy and try a repair.
myisam_recover         = {{ getenv "MARIADB_MYISAM_RECOVER" "BACKUP" }}
#open-files-limit       = {{ getenv "MARIADB_OPEN_FILES_LIMIT" "2000" }}
table_open_cache        = {{ getenv "MARIADB_TABLE_OPEN_CACHE" "400" }}
#table_cache            = {{ getenv "MARIADB_TABLE_CACHE" "64" }}
#thread_concurrency     = {{ getenv "MARIADB_THREAD_CONCURRENCY" "10" }}
myisam_sort_buffer_size = {{ getenv "MARIADB_MYISAM_SORT_BUFFER_SIZE" "512M" }}
concurrent_insert       = {{ getenv "MARIADB_CONCURRENT_INSERT" "2" }}
read_buffer_size        = {{ getenv "MARIADB_READ_BUFFER_SIZE" "2M" }}
read_rnd_buffer_size    = {{ getenv "MARIADB_READ_RND_BUFFER_SIZE" "1M" }}
#
# * Query Cache Configuration
#
# Cache only tiny result sets, so we can fit more in the query cache.
query_cache_limit               = {{ getenv "MARIADB_QUERY_CACHE_LIMIT" "128K" }}
query_cache_size                = {{ getenv "MARIADB_QUERY_CACHE_SIZE" "64M" }}
# for more write intensive setups, set to DEMAND or OFF
query_cache_type               = {{ getenv "MARIADB_QUERY_CACHE_TYPE" "DEMAND" }}
#
# * Logging and Replication
#
console                 = {{ getenv "MARIADB_CONSOLE" "1" }}
# Both location gets rotated by the cronjob.
# Be aware that this log type is a performance killer.
# As of 5.1 you can enable the log at runtime!
#general_log             = 1
#general_log_file        = /config/log/mysql/mysql.log
#
# Error log - should be very few entries.
#
log_warnings            = {{ getenv "MARIADB_LOG_WARNINGS" "2" }}
# Error logging goes to syslog due to /etc/mysql/conf.d/mysqld_safe_syslog.cnf
log_error               = /config/log/mysql/mariadb-error.log
#
# Enable the slow query log to see queries with especially long duration
slow_query_log          = {{ getenv "MARIADB_SLOW_QUERY_LOG" "1" }}
slow_query_log_file     = /config/log/mysql/mariadb-slow.log
long_query_time         = {{ getenv "MARIADB_LONG_QUERY_TIME" "5" }}
#log_slow_rate_limit    = 1000
#log-queries-not-using-indexes
#log_slow_admin_statements
#
# The following can be used as easy to replay backup logs or for replication.
# note: if you are setting up a replication slave, see
#       https://mariadb.com/kb/en/setting-up-replication/
#       about other settings you may need to change.
#server-id              = 1
#report_host            = master1
#auto_increment_increment = 2
#auto_increment_offset  = 1
log_bin                 = /config/log/mysql/mariadb-bin
log_bin_index           = /config/log/mysql/mariadb-bin.index
# not fab for performance, but safer
#sync_binlog             = 1
#binlog_do_db            = include_database_name
#binlog_ignore_db        = include_database_name
expire_logs_days        = {{ getenv "MARIADB_EXPIRE_LOG_DAYS" "10" }}
max_binlog_size         = {{ getenv "MARIADB_MAX_BINLOG_SIZE" "100M" }}
# slaves
#relay_log              = /config/log/mysql/relay-bin
#relay_log_index        = /config/log/mysql/relay-bin.index
#relay_log_info_file    = /config/log/mysql/relay-bin.info
#log_slave_updates
#read_only
#
# If applications support it, this stricter sql_mode prevents some
# mistakes like inserting invalid dates etc.
#sql_mode               = NO_ENGINE_SUBSTITUTION,TRADITIONAL
#
# * InnoDB
#
# InnoDB is enabled by default with a 10MB datafile in /var/lib/mysql/.
# Read the manual for more InnoDB related options. There are many!
default_storage_engine  = {{ getenv "MARIADB_DEFAULT_STORAGE_ENGINE" "InnoDB" }}
# you can't just change log file size, requires special procedure
#innodb_log_file_size   = {{ getenv "MARIADB_INNODB_LOG_FILE_SIZE" "50M" }}
innodb_buffer_pool_size = {{ getenv "MARIADB_INNODB_BUFFER_POOL_SIZE" "256M" }}
innodb_log_buffer_size  = {{ getenv "MARIADB_INNODB_LOG_BUFFER_SIZE" "8M" }}
innodb_file_per_table   = {{ getenv "MARIADB_INNODB_FILE_PER_TABLE" "1" }}
innodb_open_files       = {{ getenv "MARIADB_INNODB_OPEN_FILES" "400" }}
innodb_io_capacity      = {{ getenv "MARIADB_INNODB_IO_CAPACITY" "400" }}
innodb_flush_method     = {{ getenv "MARIADB_INNODB_FLUSH_METHOD" "O_DIRECT" }}
#
# * Security Features
#
# Read the manual, too, if you want chroot!
# chroot = /var/lib/mysql/
#
# For generating SSL certificates I recommend the OpenSSL GUI "tinyca".
#
# ssl-ca=/etc/mysql/cacert.pem
# ssl-cert=/etc/mysql/server-cert.pem
# ssl-key=/etc/mysql/server-key.pem

[mysqldump]
quick
quote-names
max_allowed_packet      = {{ getenv "MARIADB_MYSQLDUMP_MAX_ALLOWED_PACKET" "16M" }}

[mysql]
#no-auto-rehash # faster start of mysql but no tab completion

[isamchk]
key_buffer         = {{ getenv "MARIADB_ISAMCHK_KEY_BUFFER" "16M" }}

#
# * Galera-related settings
#
[galera]
# Mandatory settings
#wsrep_on=ON
#wsrep_provider=
#wsrep_cluster_address=
#binlog_format=MIXED
#default_storage_engine=InnoDB
#innodb_autoinc_lock_mode=2
#
# Allow server to accept connections on all interfaces.
#
#bind-address=0.0.0.0
#
# Optional setting
#wsrep_slave_threads=1
#innodb_flush_log_at_trx_commit=0
